

.text-white {
    color: white;
}

html,
body {
    margin: 0px;
    height: 100%;
}

.text-lower {
    text-transform: none;
}


.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.float-right {
    float: right;
}